In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler
from scipy.stats import skew, kurtosis

In [2]:
for i in [2, 3, 4, 5, 6, 8, 13, 7, 10, 12, 14, 16]:
    for file in ['ACC', 'BVP', 'EDA', 'HR', 'TEMP']:
        data = pd.read_csv(f"C:\\Users\\roger\\Downloads\\Wes_Age_dataset\\WESAD\\S{i}\\S{i}_E4_Data\\{file}.csv", header = None)
        window = int(data.iloc[1,0])
        data = data.iloc[2:, :].reset_index(drop = True)
        if file == 'TEMP':
            data = data.iloc[4:, :].reset_index(drop = True)
        if (file == 'HR')|(file == 'IBI'):
            if file == 'IBI':
                data = pd.DataFrame(data.iloc[:, 1])
                data.to_csv(f"C:\\Users\\roger\\Desktop\\New Complete\\{file}_user{i}.csv", index = False)
            else:
                data.to_csv(f"C:\\Users\\roger\\Desktop\\New Complete\\{file}_user{i}.csv", index = False)
        else:
            j = 0
            acc = pd.DataFrame()
            while True:
                df = data.iloc[j:j+window]
                df_mean = df.mean().to_frame().T
                acc = pd.concat([acc, df_mean], axis = 0, ignore_index = True)
                j+=window
                if j >= len(data):
                    break
            acc.to_csv(f"C:\\Users\\roger\\Desktop\\New Complete\\{file}_user{i}.csv", index = False)
            print(f"{file}_user{i} is {acc.shape}")

ACC_user2 is (7875, 3)
BVP_user2 is (7875, 1)
EDA_user2 is (7874, 1)
TEMP_user2 is (7873, 1)
ACC_user3 is (7724, 3)
BVP_user3 is (7724, 1)
EDA_user3 is (7724, 1)
TEMP_user3 is (7721, 1)
ACC_user4 is (8000, 3)
BVP_user4 is (8000, 1)
EDA_user4 is (8000, 1)
TEMP_user4 is (7997, 1)
ACC_user5 is (7551, 3)
BVP_user5 is (7551, 1)
EDA_user5 is (7551, 1)
TEMP_user5 is (7549, 1)
ACC_user6 is (8324, 3)
BVP_user6 is (8324, 1)
EDA_user6 is (8324, 1)
TEMP_user6 is (8321, 1)
ACC_user8 is (6639, 3)
BVP_user8 is (6639, 1)
EDA_user8 is (6638, 1)
TEMP_user8 is (6637, 1)
ACC_user13 is (6987, 3)
BVP_user13 is (6987, 1)
EDA_user13 is (6986, 1)
TEMP_user13 is (6985, 1)
ACC_user7 is (6495, 3)
BVP_user7 is (6495, 1)
EDA_user7 is (6494, 1)
TEMP_user7 is (6493, 1)
ACC_user10 is (6823, 3)
BVP_user10 is (6823, 1)
EDA_user10 is (6822, 1)
TEMP_user10 is (6821, 1)
ACC_user12 is (6863, 3)
BVP_user12 is (6863, 1)
EDA_user12 is (6863, 1)
TEMP_user12 is (6861, 1)
ACC_user14 is (6643, 3)
BVP_user14 is (6643, 1)
EDA_user14 is (6642, 1)
TEMP_user14 is (6641, 1)
ACC_user16 is (7232, 3)
BVP_user16 is (7232, 1)
EDA_user16 is (7232, 1)
TEMP_user16 is (7229, 1)

In [3]:
for i in ['S13', 'S15', 'S04', 'S14', 'S07', 'S02', 'S03', 'S08', 'S09', 'S16', 'f09', 'f10', 'f05', 'f06', 'f07', 'S17', 'f08']:
    for file in ['ACC', 'BVP', 'EDA', 'HR', 'TEMP']:
        data = pd.read_csv(f"C:\\Users\\roger\\Downloads\\Age_dataset\\wearable-device-dataset-from-induced-stress-and-structured-exercise-sessions-1.0.0\\Wearable_Dataset\\AEROBIC\\{i}\\{file}.csv", header = None, sep = ',', engine = 'python')
        window = int(float(data.iloc[1,0]))
        data = data.iloc[2:, :].reset_index(drop = True)
        data = data.apply(pd.to_numeric, errors = 'coerce')
        if (file == 'HR'):
            data.to_csv(f"C:\\Users\\roger\\Desktop\\New Complete\\{file}_{i}.csv", index = False)

        else:
            j = 0
            acc = pd.DataFrame()
            while True:
                df = data.iloc[j:j+window]
                df_mean = df.mean().to_frame().T
                acc = pd.concat([acc, df_mean], axis = 0, ignore_index = True)
                j+=window
                if j >= len(data):
                    break
            acc.to_csv(f"C:\\Users\\roger\\Desktop\\New Complete\\{file}_{i}.csv", index = False)
            print(f"{file}_{i} is {acc.shape}")

ACC_S13 is (2088, 3)
BVP_S13 is (2088, 1)
EDA_S13 is (2087, 1)
TEMP_S13 is (2086, 1)
ACC_S15 is (2038, 3)
BVP_S15 is (2038, 1)
EDA_S15 is (2037, 1)
TEMP_S15 is (2038, 1)
ACC_S04 is (2041, 3)
BVP_S04 is (2041, 1)
EDA_S04 is (2040, 1)
TEMP_S04 is (2040, 1)
ACC_S14 is (2173, 3)
BVP_S14 is (2173, 1)
EDA_S14 is (2172, 1)
TEMP_S14 is (2172, 1)
ACC_S07 is (1680, 3)
BVP_S07 is (1680, 1)
EDA_S07 is (1679, 1)
TEMP_S07 is (1678, 1)
ACC_S02 is (2038, 3)
BVP_S02 is (2038, 1)
EDA_S02 is (2037, 1)
TEMP_S02 is (2036, 1)
ACC_S03 is (1439, 3)
BVP_S03 is (1439, 1)
EDA_S03 is (1437, 1)
TEMP_S03 is (1438, 1)
ACC_S08 is (2030, 3)
BVP_S08 is (2030, 1)
EDA_S08 is (2030, 1)
TEMP_S08 is (2030, 1)
ACC_S09 is (2038, 3)
BVP_S09 is (2038, 1)
EDA_S09 is (2037, 1)
TEMP_S09 is (2036, 1)
ACC_S16 is (2043, 3)
BVP_S16 is (2043, 1)
EDA_S16 is (2043, 1)
TEMP_S16 is (2042, 1)
ACC_f09 is (2591, 3)
BVP_f09 is (2591, 1)
EDA_f09 is (2592, 1)
TEMP_f09 is (2590, 1)
ACC_f10 is (2608, 3)
BVP_f10 is (2607, 1)
EDA_f10 is (2609, 1)
TEMP_f10 is (2608, 1)
ACC_f05 is (3078, 3)
BVP_f05 is (3079, 1)
EDA_f05 is (3078, 1)
TEMP_f05 is (3074, 1)
ACC_f06 is (2710, 3)
BVP_f06 is (2711, 1)
EDA_f06 is (2709, 1)
TEMP_f06 is (2712, 1)
ACC_f07 is (2333, 3)
BVP_f07 is (2334, 1)
EDA_f07 is (2331, 1)
TEMP_f07 is (2334, 1)
ACC_S17 is (2038, 3)
BVP_S17 is (2038, 1)
EDA_S17 is (2037, 1)
TEMP_S17 is (2038, 1)
ACC_f08 is (2390, 3)
BVP_f08 is (2390, 1)
EDA_f08 is (2390, 1)
TEMP_f08 is (2390, 1)

In [4]:
for k, v in {'ACC_S13' : 22, 'ACC_S15' : 22,'ACC_S04' : 22, 'ACC_S17': 22, 'ACC_f08' : 22, 'ACC_S14' : 19, 'ACC_S07' : 19, 'ACC_S02' : 22, 'ACC_S03' : 20, 'ACC_S08' : 20, 'ACC_S09' : 19, 'ACC_S16' : 20, 'ACC_f09' : 21, 'ACC_f10' : 21, 'ACC_f05' : 21, 'ACC_f06' : 21, 'ACC_f07' : 21,
             'ACC_user5' : 35, 'ACC_user7' : 28, 'ACC_user4' : 25,'ACC_user10' : 28, 'ACC_user12' : 28, 'ACC_user14' : 28, 'ACC_user16' : 29, 'ACC_user2' : 27, 'ACC_user3' : 27, 'ACC_user6' : 27, 'ACC_user8' : 27, 'ACC_user13' : 27}.items():
    acc = pd.read_csv(f"C:\\Users\\roger\\Desktop\\New Complete\\{k}.csv", header = None)
    print(acc.head())
    acc['age'] = v
    acc.to_csv(f"C:\\Users\\roger\\Desktop\\New Complete\\{k}.csv", index = False)

          0         1         2
0   0.00000   1.00000   2.00000
1 -48.93750  37.46875  19.34375
2 -48.37500  38.15625  20.09375
3 -48.56250  38.09375  19.59375
4 -48.96875  37.50000  19.25000
          0         1         2
0   0.00000   1.00000   2.00000
1 -16.53125  27.25000  53.25000
2 -15.78125  27.34375  53.21875
3 -15.68750  27.12500  53.53125
4 -15.96875  26.90625  53.37500
          0         1         2
0   0.00000   1.00000   2.00000
1 -17.65625 -33.71875  51.93750
2 -17.40625 -33.59375  52.12500
3 -17.03125 -34.31250  51.59375
4 -18.00000 -33.00000  52.25000
          0         1         2
0   0.00000   1.00000   2.00000
1 -37.75000 -25.78125  41.81250
2 -41.15625 -28.37500  41.59375
3 -37.18750 -26.96875  43.81250
4 -40.15625 -25.90625  41.28125
          0         1        2
0   0.00000   1.00000   2.0000
1 -47.93750  39.46875  -9.1250
2 -51.03125  34.96875 -10.1875
3 -51.50000  34.40625 -11.8125
4 -50.56250  33.84375 -17.1250
          0         1         2
0   0.00000   1.00000   2.00000
1 -17.15625 -30.25000  56.34375
2 -14.21875 -28.87500  55.31250
3 -16.03125 -27.78125  55.81250
4 -15.75000 -27.12500  56.09375
          0         1        2
0   0.00000   1.00000  2.00000
1 -55.34375 -32.31250  3.78125
2 -55.21875 -32.25000  3.12500
3 -55.59375 -32.03125  2.43750
4 -55.31250 -32.18750  4.21875
          0         1         2
0   0.00000   1.00000   2.00000
1  36.68750  32.87500  40.28125
2  36.93750  31.59375  40.71875
3  36.53125  32.81250  40.37500
4  35.34375  33.96875  40.37500
          0         1         2
0   0.00000   1.00000   2.00000
1 -48.90625  35.15625  23.09375
2 -50.15625  34.03125  22.18750
3 -49.06250  35.15625  23.25000
4 -50.09375  34.12500  22.37500
          0         1        2
0   0.00000   1.00000   2.0000
1 -53.43750 -30.84375  17.5625
2 -52.37500 -32.18750  18.2500
3 -52.43750 -32.25000  18.6250
4 -52.90625 -31.78125  17.7500
          0         1         2
0   0.00000   1.00000   2.00000
1 -49.46875 -28.53125  29.90625
2 -48.50000 -30.31250  29.18750
3 -49.31250 -29.68750  28.87500
4 -48.31250 -29.28125  30.46875
          0         1         2
0   0.00000   1.00000   2.00000
1  19.56250  22.87500  56.37500
2  19.43750  23.40625  56.18750
3  17.59375  23.59375  56.84375
4  18.53125  24.28125  56.06250
          0         1         2
0   0.00000   1.00000   2.00000
1  33.53125 -52.53125  21.96875
2  22.78125 -51.28125  29.40625
3  21.50000 -48.93750  33.93750
4  31.75000 -44.09375  31.93750
          0         1         2
0   0.00000   1.00000   2.00000
1 -27.06250  -9.43750 -57.50000
2 -41.59375 -27.68750 -42.03125
3 -57.68750 -10.84375   4.21875
4 -53.50000 -28.62500 -24.06250
          0         1         2
0   0.00000   1.00000   2.00000
1 -57.59375 -16.87500 -17.81250
2  -9.84375 -31.21875 -52.40625
3 -35.46875 -32.62500 -41.62500
4 -34.59375 -34.71875 -21.46875
          0         1         2
0   0.00000   1.00000   2.00000
1  45.46875  40.84375 -11.15625
2  38.75000  47.93750   0.62500
3  56.59375   8.68750 -29.09375
4  59.06250  -3.21875 -30.87500
          0         1         2
0   0.00000   1.00000   2.00000
1  59.03125  -3.21875  27.31250
2  39.43750   2.96875   7.40625
3  58.28125  -5.78125   0.15625
4  45.25000 -29.75000  21.84375
         0        1         2
0  0.00000  1.00000   2.00000
1 -0.25000  5.06250  62.90625
2 -0.21875  5.03125  62.96875
3 -0.21875  5.03125  63.00000
4 -0.34375  5.00000  63.00000
         0        1         2
0  0.00000  1.00000   2.00000
1  6.25000  5.93750  62.12500
2  6.25000  6.00000  62.59375
3  6.78125  6.25000  62.28125
4  7.00000  6.09375  62.31250
          0        1         2
0   0.00000  1.00000   2.00000
1 -47.84375  3.81250  42.65625
2 -46.31250  4.56250  44.06250
3 -44.06250  3.59375  46.18750
4 -44.25000  3.96875  46.00000
        0        1         2
0  0.0000  1.00000   2.00000
1  5.4375  0.93750  63.00000
2  5.1875  0.96875  62.90625
3  5.1875  0.96875  63.00000
4  5.3125  0.96875  62.96875
          0        1         2
0   0.00000  1.00000   2.00000
1  23.81250 -6.37500  57.40625
2  23.50000 -6.81250  57.50000
3  23.03125 -6.81250  57.93750
4  22.87500 -6.78125  58.00000
         0        1         2
0  0.00000  1.00000   2.00000
1 -0.68750  1.00000  63.00000
2 -0.65625  1.12500  62.96875
3 -0.25000  1.03125  63.00000
4 -0.06250  1.03125  63.00000
          0         1         2
0   0.00000   1.00000   2.00000
1 -17.40625  13.93750  59.00000
2 -17.40625  13.78125  59.15625
3 -17.40625  13.75000  59.06250
4 -17.31250  13.96875  59.06250
          0        1         2
0   0.00000  1.00000   2.00000
1  28.25000 -6.09375  55.50000
2  28.25000 -6.15625  55.21875
3  28.28125 -6.25000  55.21875
4  28.28125 -6.25000  55.31250
          0         1         2
0   0.00000   1.00000   2.00000
1 -25.81250   4.12500  58.09375
2 -52.90625  -9.68750   4.18750
3 -58.06250 -23.06250  -1.78125
4 -46.50000 -20.90625  34.43750
          0       1         2
0   0.00000  1.0000   2.00000
1 -10.90625 -4.6875  61.78125
2 -10.87500 -4.8750  61.87500
3 -10.93750 -5.0000  61.93750
4 -11.00000 -4.9375  61.90625
          0         1         2
0   0.00000   1.00000   2.00000
1   6.12500  -3.84375  50.62500
2  53.09375 -29.21875  20.78125
3 -19.15625  -2.03125  56.09375
4 -15.21875   7.78125  60.90625
          0         1         2
0   0.00000   1.00000   2.00000
1 -27.96875  22.00000  53.00000
2 -27.93750  22.00000  53.00000
3 -27.87500  22.09375  53.00000
4 -28.12500  22.00000  52.96875

In [6]:
data_dict = {'acc' : pd.DataFrame(),
             'bvp' : pd.DataFrame(),
             'eda' : pd.DataFrame(),
             'hr' : pd.DataFrame(),
             'temp' : pd.DataFrame()}
for file, location in {'ACC' : 'acc', 'BVP': 'bvp', 'EDA' : 'eda', 'HR' : 'hr', 'TEMP' : 'temp'}.items():
    for user in ['S13', 'S15', 'S04', 'S14', 'S07', 'S02', 'S03', 'S08', 'S09', 'S16', 'f09', 'f10', 'f05', 'f06', 'f07', 'S17', 'f08', 'user2', 'user3', 'user4', 'user5', 'user6', 'user8', 'user13', 'user7', 'user10', 'user12', 'user14', 'user16'] :
        data = pd.read_csv(f"C:\\Users\\roger\\Desktop\\New Complete\\{file}_{user}.csv", header = None)
        data = data.iloc[2:, :]
        if file == 'ACC':
            print(data.columns)
            data['movement'] = np.sqrt(data[0]**2 + data[1]**2 + data[2]**2)
            data['roll__mean_movement'] = data['movement'].rolling(window = 3).mean()
            data['roll_std_movement'] = data['movement'].rolling(window = 3).std()
            data['roll_skew_movement'] = data['movement'].rolling(window = 3).skew()
            data['roll_kurtosis_movement'] = data['movement'].rolling(window = 3).apply(lambda x : kurtosis(x, bias = False), raw = True)
            
        data_dict[location] = pd.concat([data_dict[location], data], axis = 0, ignore_index = True)

Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')
Index([0, 1, 2, 3], dtype='int64')

In [7]:

data_dict['acc'].rename(columns = {'1' : 'acc_x', '2' : 'acc_y', '3' : 'acc_z'}, inplace = True)
data_dict['bvp'].rename(columns = {'0' : 'bvp'}, inplace = True)
data_dict['eda'].rename(columns = {'0' : 'eda'}, inplace = True)
data_dict['hr'].rename(columns = {'0' : 'hr'}, inplace = True)
data_dict['temp'].rename(columns = {'0' : 'temp'}, inplace = True)

In [8]:
acc = data_dict['acc'].copy()
acc.dropna(inplace = True)
acc = acc.reset_index(drop = True)
bvp = data_dict['bvp'].copy()
bvp.dropna(inplace = True)
bvp = bvp.reset_index(drop = True)
eda = data_dict['eda'].copy()
eda.dropna(inplace = True)
eda = eda.reset_index(drop = True)
hr = data_dict['hr'].copy()
hr.dropna(inplace = True)
hr = hr.reset_index(drop = True)
temp = data_dict['temp'].copy()
temp.dropna(inplace = True)
temp = temp.reset_index(drop = True)

In [9]:
actual_age = pd.concat([acc, bvp, eda, hr, temp], axis = 1, ignore_index = True)
print(np.sum(actual_age.isna()))

0     594
1     594
2     594
3     594
4     594
5     594
6     594
7     594
8     594
9       0
10     19
11    293
12     44
dtype: int64

In [10]:
actual_age.dropna(inplace = True)
actual_age.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-48.56250,38.09375,19.59375,22,64.756198,64.720186,0.108265,-1.331233,-1.5,-41.960313,0.827957,57.00,35.50
1,-48.96875,37.50000,19.25000,22,64.612313,64.724789,0.100521,-1.268818,-1.5,26.300156,0.928215,74.33,35.50
2,-48.90625,37.75000,19.18750,22,64.691916,64.686809,0.072079,-0.317217,-1.5,1.240781,0.961848,69.75,35.49
3,-49.18750,37.65625,18.81250,22,64.740354,64.681528,0.064650,-0.704398,-1.5,-3.631719,0.945192,90.60,35.47
4,-49.18750,37.68750,18.78125,22,64.749465,64.727245,0.030933,-1.564571,-1.5,8.730000,0.943910,105.83,35.47

In [11]:
actual_age.columns = ['acc_x', 'acc_y', 'acc_z', 'age', 'movement', 'roll_mean_movement', 'roll_std_movement', 'roll_skew_movement', 'roll_kurtosis_movement', 'bvp', 'eda', 'hr', 'temp']

In [12]:
actual_age.columns

Index(['acc_x', 'acc_y', 'acc_z', 'age', 'movement', 'roll_mean_movement',
       'roll_std_movement', 'roll_skew_movement', 'roll_kurtosis_movement',
       'bvp', 'eda', 'hr', 'temp'],
      dtype='object')

In [13]:
actual_age['x_y'] = actual_age['acc_x']*actual_age['acc_y']
actual_age['y_z'] = actual_age['acc_y']*actual_age['acc_z']
actual_age['z_x'] = actual_age['acc_z']*actual_age['acc_x']
actual_age['hr_eda'] = actual_age['hr']*actual_age['eda']
actual_age['bvp_hr'] = actual_age['bvp']*actual_age['hr']
actual_age['temp_eda'] = actual_age['temp']*actual_age['eda']

In [14]:
actual_age.columns

Index(['acc_x', 'acc_y', 'acc_z', 'age', 'movement', 'roll_mean_movement',
       'roll_std_movement', 'roll_skew_movement', 'roll_kurtosis_movement',
       'bvp', 'eda', 'hr', 'temp', 'x_y', 'y_z', 'z_x', 'hr_eda', 'bvp_hr',
       'temp_eda'],
      dtype='object')

In [15]:
np.sum(actual_age.isna())

acc_x                     0
acc_y                     0
acc_z                     0
age                       0
movement                  0
roll_mean_movement        0
roll_std_movement         0
roll_skew_movement        0
roll_kurtosis_movement    0
bvp                       0
eda                       0
hr                        0
temp                      0
x_y                       0
y_z                       0
z_x                       0
hr_eda                    0
bvp_hr                    0
temp_eda                  0
dtype: int64

In [16]:
actual_age['age'] = pd.to_numeric(actual_age['age'], errors = 'coerce')
actual_age['age_class'] = actual_age['age'].apply(lambda x : 1 if x > 25 else 0)

In [17]:
actual_age.columns

Index(['acc_x', 'acc_y', 'acc_z', 'age', 'movement', 'roll_mean_movement',
       'roll_std_movement', 'roll_skew_movement', 'roll_kurtosis_movement',
       'bvp', 'eda', 'hr', 'temp', 'x_y', 'y_z', 'z_x', 'hr_eda', 'bvp_hr',
       'temp_eda', 'age_class'],
      dtype='object')

In [17]:
columns = ['acc_x', 'acc_y', 'acc_z', 'movement', 'roll_mean_movement',
       'roll_std_movement', 'roll_skew_movement', 'roll_kurtosis_movement',
       'bvp', 'eda', 'hr', 'temp']

In [ ]:
scaler = StandardScaler()
actual_age[columns] = scaler.fit_transform(actual_age[columns])

In [ ]:
actual_age[columns] = scaler.transform(actual_age[columns])

In [19]:
actual_age.to_csv(r"C:\Users\roger\Desktop\New Complete\actual_age.csv", index = False)

In [ ]:
actual_age[['age']].value_counts()

age
25     2698
30     2192
22     2036
29     1756
Name: count, dtype: int64

In [37]:
data = pd.read_csv(r"C:\Users\roger\Desktop\New Complete\actual_age.csv")
data.head()

,acc_x,acc_y,acc_z,age,movement,roll_mean_movement,roll_std_movement,roll_skew_movement,roll_kurtosis_movement,bvp,eda,hr,temp,age_class
0,-1.036369,-0.933080,-2.288685,21,0.193898,-0.427807,0.239527,-0.000765,-4.951595e-14,-1.713428,-0.557985,-0.995473,-0.059700,0
1,-1.015067,-0.997813,-1.557543,21,-5.015047,-2.553801,3.159364,-0.014718,-5.084821e-14,1.082113,-0.559780,-0.966828,-0.063675,0
2,-1.111686,-0.970760,-0.665437,21,-6.092779,-4.981636,3.915019,0.007419,-4.929390e-14,-0.509074,-0.568661,-0.364841,-0.064669,0
3,-1.237215,-0.846127,-0.902350,21,-5.261681,-7.471890,0.340695,-0.013772,-6.306067e-14,0.658019,-0.568953,-0.260092,-0.069141,0
4,-1.051584,-0.963031,-0.206348,21,-5.903604,-7.877481,0.175806,0.006236,-3.619327e-14,-0.398673,-0.568516,-0.425552,-0.069638,0

In [39]:
data['age_class'].value_counts()

age_class
1    91251
0    58108
Name: count, dtype: int64

In [40]:
class_0 = data[data['age_class'] == 0]
num = int(class_0.shape[0])
class_1 = data[data['age_class'] == 1]
class_1 = class_1.sample(n = num, replace = False, random_state = 42)
rescaled_age = pd.concat([class_1, class_0], axis = 0, ignore_index = True)

In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv(r"C:\Users\roger\Desktop\New Complete\actual_age.csv")

In [2]:
data.head()

,acc_x,acc_y,acc_z,age,movement,roll_mean_movement,roll_std_movement,roll_skew_movement,roll_kurtosis_movement,bvp,eda,hr,temp,x_y,y_z,z_x,hr_eda,bvp_hr,temp_eda,age_class
0,-48.56250,38.09375,19.59375,22,64.756198,64.720186,0.108265,-1.331233,-1.5,-41.960313,0.827957,57.00,35.50,-1849.927734,746.399414,-951.521484,47.193549,-2391.737813,29.392474,0
1,-48.96875,37.50000,19.25000,22,64.612313,64.724789,0.100521,-1.268818,-1.5,26.300156,0.928215,74.33,35.50,-1836.328125,721.875000,-942.648438,68.994221,1954.890614,32.951633,0
2,-48.90625,37.75000,19.18750,22,64.691916,64.686809,0.072079,-0.317217,-1.5,1.240781,0.961848,69.75,35.49,-1846.210938,724.328125,-938.388672,67.088898,86.544492,34.135986,0
3,-49.18750,37.65625,18.81250,22,64.740354,64.681528,0.064650,-0.704398,-1.5,-3.631719,0.945192,90.60,35.47,-1852.216797,708.408203,-925.339844,85.634373,-329.033719,33.525951,0
4,-49.18750,37.68750,18.78125,22,64.749465,64.727245,0.030933,-1.564571,-1.5,8.730000,0.943910,105.83,35.47,-1853.753906,707.818359,-923.802734,99.894022,923.895900,33.480497,0

In [5]:
data['age_class'] = data['age'].apply(lambda x : 1 if x >= 25 else 0)

In [7]:
data.to_csv(r"C:\Users\roger\Desktop\New Complete\actual_age.csv", index = False)